<link rel="stylesheet" href="styles.css">
/* This is a comment in CSS */

/* Apply styles to the whole page */
body {
font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            background: url('images/background.jpeg') no-repeat center center fixed;
            background-size: cover;
            color: #333;
            text-align: center;
}

/* Style the header */
header {
    background: white;
    text-align: center;
    padding: 50px;
    font-size: 2em;
    font-weight: bold;
}

/* Style all buttons */
button {
    background: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Change button color when hovered */
button:hover {
    background: #222;
}

